.idea
/UtilizePim/appsettings.Development.json
/UtilizePim/obj
/UtilizePimModels/obj
/UtilizePimModels/bin
/UtilizePim/bin

/UtilizePimDataMocker/appsettings.Development.json
/UtilizePimDataMocker/obj
/UtilizePimDataMocker/bin


*.user
